<!DOCTYPE html>
<html>
    
<!-- <h2>Your Top Songs of the Month</h2> -->

<div class="button-row">
    <button id="this-month-button">This month</button>
    <button id="last-6-months-button">Last 6 months</button>
    <button id="all-time-button">All Time</button>
</div>


<style>
    body {
  font-family: "Spotify Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #191414;
  /* color: #b3b3b3; */
  animation: wave 5s linear infinite;
}

 /* Define the animation for the background */
        @keyframes wave {
        0% {
            background-color:hsl(164, 46%, 41%);
        }
        25% {
            background-color: hsl(157, 45%, 41%);  /* #46937e */
        }
        50% {
            background-color: hsl(327, 44%, 54%);  /* #f32faa */
        }
        75% {
            background-color: hsl(84, 44%, 40%);  /* #cbf656 */
        }
        100% {
            background-color: hsl(164, 46%, 41%);  /* #1DB954 */
        }
        }

    h1, h2 {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    }

    .button-row {
    text-align: center;
    margin-bottom: 16px;
    }

    .button-row button {
    display: inline-block; 
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1db954;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    }

    .button-row button:hover {
    background-color: #1ed760;
    cursor: pointer;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #b3b3b3;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #191414;
    }

    .circular_image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    }

    .rectangular_image {
    width: 64px;
    height: 64px;
    }


    .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 16px;
    justify-content: center;
    margin: 0 auto;
    min-width: 300px;
    max-width: 55%;
    }

    .grid .center {
    grid-column: 3 / 6;
    grid-row: 4 / 4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Spotify Text", sans-serif;
    }


    .grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="grid">
    <div class="center">Your top songs of this month</div>

    <% 
    let j = 0;
    for (let i=0; i < 49; i++) { %>
        <!-- if i is not the middle 9 cubes, do the following -->
        <% if (i !==24 && i !==25 && i !==26) { %>
            <img src="<%= tracks[i-j].album.images[1].url %>" alt="album image">
            <% } else { %>
                <!-- Decrement i by 1 here -->
                <% j=j+1;;%>
                
                    <% } %>
                        <% } %>
</div>

<script>
    // let activeTracks = <%= tracks %>;
    // let activeArtists = <%= artists  %>;

    document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("this-month-button").addEventListener("click", () => {
                // Load top songs for this month
                // Get the current month and year
                const date = new Date();
                const month = date.toLocaleString("en-US", { month: "long" });
                const year = date.getFullYear();

                // Update the inner HTML of the element with the center class
                document.querySelector(".center").innerHTML = `Your top songs of ${month} ${year}`;
            });
        });

     document.addEventListener("DOMContentLoaded", () => {
            // Get the button element
            const button = document.getElementById("this-month-button");

            // Click the button
            button.click();
        });

    document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("last-6-months-button").addEventListener("click", () => {
                // Load top songs for this month
                document.querySelector(".center").innerHTML = "Your top songs of the last 6 months";
            });
        });
    
    document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("all-time-button").addEventListener("click", () => {
                // Load top songs for this month
                document.querySelector(".center").innerHTML = "Your top songs of all time";
            });
        });

</script>


</html>

<!-- <!DOCTYPE html>
<html>

<head>
    <title>My Spotify API app ✨</title>
</head>

<body>
    <h1>Welcome! <%= user.id %> ✨</h1>
    <img src="<%= user.images[0].url %>" class="circular_image" />
    <table>
        <% for (let t of tracks) { %>
            <tr>
                <td>
                    <%= t.artists[0].name %>
                </td>
                <td>
                    <%= t.name %>
                </td>
                <td>
                    <img src="<%= t.album.images[1].url %>" class="rectangular_image" />
                </td>
            </tr>
            <% } %>
    </table>
    <table>
        <% for (let a of artists) { %>
            <tr>
                <td>
                    <%= a.name %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html> -->